;; shadow-cljs configuration
{:deps true
 :builds {:browser {:target :browser
                    :output-dir "public/js"
                    :asset-path "js"
                    :modules {:cards {:entries [lark.cards.core
                                                lark.tree.parse-test
                                                lark.tree.cursor-test
                                                lark.structure.edit-test]}}
                    :release {:compiler-options {:optimizations :simple}}
                    :devtools {:after-load lark.cards.core/render
                               :http-root "public"
                               :http-port 8041
                               :http-handler shadow.http.push-state/handle}}
          :test {:target :browser-test
                 ;:ns-regexp "parse-test$"
                 :test-dir "public/test"
                 :release {:compiler-options {:optimizations :simple}}
                 :devtools {:http-port 8021
                            :http-root "public/test"}}}}
