;; shadow-cljs configuration
{:deps true
 :builds {:browser {:target :browser
                    :output-dir "public/js"
                    :asset-path "js"
                    :modules {:cards {:entries [lark.cards.core]}}
                    :devtools {:after-load lark.cards.core/render
                               :http-root "public"
                               :http-handler shadow.http.push-state/handle}}}}
